##################################
# Common
##################################
## aliases
alias ll='ls -la'
alias llg='ll | grep'

alias reload='source $HOME/.zshrc'
alias cdsm="cd $HOME/Dropbox/01.Study_Memo"
alias cdih='cd $HOME/001.LocalRepository/GitHub/InMyHead'
alias cdgh='cd $HOME/001.LocalRepository/GitHub'
alias cdsmt='cd $HOME/Downloads/StudyMaterial'
alias ondo='sudo powermetrics --samplers smc |grep -i "CPU die temperature"'

##################################
# Dotfiles
##################################
alias cddf='cd $HOME/dotfiles/'

##################################
# HTML, CSS
##################################
alias cdhtml='cd $HOME/001.LocalRepository/GitHub/500.HtmlCss'

##################################
# Terraform
##################################
alias cdtf='cd ~/001.LocalRepository/GitHub/InMyHead/terraform/micro_practice_terraform'
